/* Initial body */
body {
  left: 0;
  margin: 0;
  overflow: scroll;
  position: relative;
}


.pane1{
	display:inline;
}

.greyText{
	color: #121212;
}

#tabbedVisualizationContainer{
	
	width: 350px;
	height: 350px;
}
#freqPane{
	background-color: #F0F0FF;
	left: 100px;
	top: 500px;
	margin-left:10px;
}

.textsBox{
	background-color: #FFF000;
	overflow: scroll;
}

#JClass{
	background-color:#00ff00;
}
#NJClass{
	background-color:#ff0000;
}
#UKClass{
	background-color:#0000ff;
}
.resultsListP1{
	overflow: scroll;
	width:250px;
	height:500px;
}

.allTextP1{
	overflow: scroll;
	width:300px;
	height:500px;
	
}


.websitesPanel{
	display: inline-block;
	width:2000px;
	height:1000px;
	position: fixed;
	top: 655px;
	left:0px;
	background-color:#0FF00F;
}



.frame1{
	display:inline;
}

.canvas{
	width: 500px;
	
}

/* Basic styling */

.jumbotron {
  background-image: url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/bg.png'); 
  height: 13%;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

.jumbotron .container h1 {
  font-size: 48px;
  color: #fff;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.classform{
	display:block-inline;
}



.inputForm {
	background-color: #f7f7f7;
	margin-left:10px;
	display:inline-block;
}



